.action-buttons {
  display: flex;
  gap: 10px;
}

button.launch {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #3fb950;
  color: #3fb950;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.launch:hover {
  background-color: #0d4414;
}

button.complete {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #f78166;
  color: #f78166;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.complete:hover {
  background-color: #44110d;
}
